<div class="row">
    <div class="col-xs-12">&nbsp;
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
<p>I am an Engineer/Technologist who lives in New York City. Learning and using new technologies is my passion.
    You can learn more about me <a href="http://www.sidazad.com" target="_blank">here</a>. </br></br>The best way to keep in
    touch with my updates is by <a href="https://www.twitter.com/sid_azad" target="_blank">following me on Twitter</a>.
    </br>
    You can also <a href="http://sidazad.tumblr.com" target="_blank">read my Tumblr blog here</a>.
    </br></br>
    You can also write to me at:
    <code>["sid","azad"].join("") at gmail.com</code>


</p>
    </div>
</div>