<div class="row">
    <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <h3>What is this class about?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>AngularJS is a JavaScript framework created by Google. AngularJS Fundamentals and Practice is a
                    Project
                    based class. It is geared towards those new to AngularJS. The class - presented as a series of 29
                    videos -
                    is divided into 2 parts.
                <ul>
                    <li>The first part focuses on learning the fundamental concepts of AngularJS via coding
                        screencasts(plunkr),
                        slides and lectures.
                    </li>
                    <li>The second part utilizes the concepts taught to create an AngularJS Application (with a coding
                        screencast)
                    </li>
                </ul>
                You can either <a href="https://vimeo.com/ondemand/angularjstutor/" target="_blank">Buy or Rent</a>
                the course on Vimeo.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <button class="btn-info" ng-click="buyvimeo()" name="Buy on Vimeo">Buy on Vimeo</button>
            </div>
            <div class="col-xs-2">
                <button class="btn-info" ng-click="buyvimeo()" name="Rent on Vimeo">Rent on Vimeo</button>
            </div>
            <div class="col-xs-2">
                <button class="btn-info" ng-click="toc_clicked()" name="Course Details">Course Details</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                &nbsp;&nbsp;
            </div>
        </div>

        <div class="row">

            <div class="col-xs-4">

                <!--<input type="text" ng-model="model.emailsub"/>-->
                <!--<button class="btn-warning" ng-click="email_sub()">Sign Up</button> <span style="font-size: 8pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                *News and offers, no more than once a week</span>-->
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup {
                        background: #fff;
                        clear: left;
                        font: 14px Helvetica, Arial, sans-serif;
                    }

                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                    <form action="http://visionhatch.us8.list-manage.com/subscribe/post?u=0cbcad61bfa29ea277f02e416&amp;id=1305f78f08"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank" novalidate>
                        <label for="mce-EMAIL">Subscribe to our mailing list</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                               placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text"
                                                                               name="b_0cbcad61bfa29ea277f02e416_1305f78f08"
                                                                               tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe"
                                                  id="mc-embedded-subscribe" class="button"></div>
                    </form>
                </div>


                <!--End mc_embed_signup-->
            </div>
 <div class="col-xs-2"></br>
                <a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false">Follow
                    @twitter</a>
                <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + '://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h4><font color="#ff4500">Launch Phase Promotion: Use code LAUNCH to get $20 off on VHX.</font> </h4><button class="btn-danger" ng-click="buyvhx()" name="Buy on VHX">Buy on VHX</button>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <h3>Watch a Trailer</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <iframe src="//player.vimeo.com/video/97178198" width="600" height="381" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p><a href="http://vimeo.com/97178198">AngularJS Fundamentals and Practice - Trailer</a> from <a
                        href="http://vimeo.com/user28686314">Siddhartha Azad</a> on <a
                        href="https://vimeo.com">Vimeo</a>.</p>
            </div>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-xs-12">
        <div ui-view></div>
    </div>
</div>