{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="angularjstutor">

<head>

    <meta charset="utf-8"/>
    <base href="/">
    <title>AngularJS Fundamentals and Practice</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/style.css"/>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- angular -->
    <script src="{{ STATIC_URL }}app/js/libs/angular.js"></script>
    <script src="{{ STATIC_URL }}app/js/libs/angular-route.js"></script>
    <script src="{{ STATIC_URL }}app/js/libs/angular-ui-router.min.js"></script>
    <script src="{{ STATIC_URL }}app/js/libs/angular-local-storage.js"></script>

    <script src="{{ STATIC_URL }}app/js/libs/angular-ui-bootstrap.min.js"></script>


    <script src="{{ STATIC_URL }}app/js/app.js"></script>
    <script src="{{ STATIC_URL }}app/js/controllers.js"></script>
    <script src="{{ STATIC_URL }}app/js/services.js"></script>
    <script src="{{ STATIC_URL }}app/js/directives.js"></script>
</head>

<body>
<div style="float:left;"><a ui-sref="landing.coursedes">Home</a></div>
<div id="wrap" ui-view style="font-family: candara; font-size: 11pt;">

</div>
<footer class="footer" >
    <p>This website is built using AngularJS and Django</p>
    <p>&copy; 2014 <a href="http://www.visionhatch.com" target="_blank">VisionHatch Technologies</a></p>
</footer>
</body>

</html>
