<div class="row">
<div class="col-xs-6">
<div class="row">
    <div class="col-xs-12">
        <h3>The course consists of 29 lectures (<a href="https://vimeo.com/ondemand/angularjstutor/" target="_blank">331
            minutes of video</a>) organized thus:</h3>
    </div>
</div>
<ul>
<li>Introduction to Course</li>
<li>Review of Web Architecture, Web-dev History and Single Page Apps</li>
<li>Hello, AngularJS
    <ul>
        <li>Plunkr</li>
        <li>Small example</li>
        <li>Hello, AngularJS in jQuery vs. AngularJS</li>
    </ul>
</li>
<li>Angular Concepts Part I
    <ul>
        <li>Models</li>
        <li>Views</li>
        <li>Scopes</li>
        <li>Controller</li>
    </ul>
</li>
<li>AngularJS Concepts Part II
    <ul>
        <li>Fruit Cost Calculator</li>
        <li>Using Multiple Controllers</li>
        <li>Scope Hierarchies</li>
        <li>Inter-controller communication using $emit</li>
        <li>Watching scope variables with $watch</li>
    </ul>
</li>
<li>AngularJS Internals
    <ul>
        <li>AngularJS Bootstrapping</li>
        <li>AngularJS Integration with the Browser</li>
        <li>$compile</li>
        <li>$digest loop</li>
        <li>Dependency Injection</li>
    </ul>
</li>
<li>Directives Part I
    <ul>
        <li>Reusability: Contrasting with regular HTML</li>
        <li>Creating your first directive</li>
        <li>Passing data from controller to directive</li>
    </ul>
</li>
<li>Understanding Scopes Part I</li>
<li>Understanding Scopes Part II</li>
<li>
    Understanding Scopes Part III
    <ul>
        <li>Child Scopes</li>
        <li>Automatically created child scopes</li>
        <li>ng-repeat and child scopes</li>
    </ul>
</li>
<li>Understanding Scopes Part IV
    <ul>
        <li>Scopes and Prototypal inheritance</li>
        <li>Binding in different kinds of scopes</li>
        <li>Isolated scopes</li>
        <li>Scopes inherited from the controller’s scope</li>
        <li>Introduction to transcluded scopes</li>
        <li>Writing Reusable Directives with isolate scope</li>
    </ul>
</li>
<li>Directives Part II
    <ul>
        <li>Directive compile function</li>
        <li>Directive link function</li>
        <li>template and templateUrl</li>
    </ul>
</li>
<li>Directives Part III
    <ul>
        <li>Nested Directives</li>
        <li>@ scope</li>
        <li>Programming Radio Button Lists using Nested Directives</li>
        <li>Interactive Directives using the link function</li>
    </ul>
</li>
<li>Project Description
    <ul>
        <li>Demo of the Final Project</li>
        <li>Project Pages and Layout</li>
        <li>AngularJS Project Directory Structure</li>
    </ul>
</li>
<li>Project Setup I
    <ul>
        <li>Directory Structure and Browser Setup</li>
        <li>Including third party libraries</li>
        <li>
            <ul>
                <li>Bootstrap CSS</li>
                <li>AngularJS library and modules</li>
                <li>jQuery</li>
            </ul>
        </li>
        <li>Creating the Angular Module (ng-app)</li>
    </ul>
</li>
<li>Project Setup II
    <ul>
        <li>Setup for an SPA</li>
        <li>Routing using ng-route</li>
        <li>Setting up application routes</li>
        <li>ng-view</li>
    </ul>
</li>
<li>Landing Page I
    <ul>
        <li>Bootstrap CSS</li>
        <li>Introduction to AngularJS Services</li>
    </ul>
</li>
<li>Landing Page II
    <ul>
        <li>Types of Services</li>
        <li>Writing and using a Service - AuthService</li>
        <li>Using LocalStorage</li>
    </ul>
</li>
<li>Dashboard I
    <ul>
        <li>Logout</li>
        <li>Including templates via ng-include</li>
    </ul>
</li>
<li>Dashboard II
    <ul>
        <li>Writing the projectspane directive</li>
        <li>Controller-Directive communication</li>
    </ul>
</li>
<li>Projects Pane Directive (Adding New Projects)
    <ul>
        <li>Separation of responsibilities - decoupling Directive, Controller, Services</li>
        <li>Communicating between controllers and directives via callbacks</li>
        <li>Functions in directives scope using ‘&’</li>
    </ul>
</li>
<li>Projects Pane Directive (Adding New Projects)
    <ul>
        <li>Writing the Project Service</li>
        <li>Initializing projects data in the controller</li>
        <li>Showing added projects instantaneously on the dashboard</li>
    </ul>
</li>
<li>Projects Pane Directive (Deleting Multiple Projects)
    <ul>
        <li>Checkboxes using AngularJS</li>
        <li>ng-true-value, ng-false-value</li>
        <li>$index iterator in ng-repeat</li>
        <li>$watch-ing arrays - deep vs. shallow watches</li>
    </ul>
</li>
<li>Project Details Directive
    <ul>
        <li>Communicating between directives</li>
        <li>Selecting a row using ng-click</li>
        <li>ng-if</li>
    </ul>
</li>
<li>Remote calls via $http service
    <ul>
        <li>Writing the Weather Service</li>
        <li>$http and promises</li>
    </ul>
</li>
<li>CSS using ng-class and AngularJS ‘filter’
    <ul>
        <li>Applying CSS via ng-class</li>
        <li>Searching through a list using ‘filter’</li>
        <li>Overview of built-in Angular filters</li>
    </ul>
</li>
<li>Angular UI Bootstrap Library
    <ul>
        <li>Overview Angular UI Bootstrap</li>
        <li>Overview of Tabs, DatePicker, Tooltip</li>
        <li>Using Angular UI Bootstrap Tooltips</li>
    </ul>
</li>
<li>Testing using Karma and Jasmine
    <ul>
        <li>Introduction to Jasmine</li>
        <li>Installation - nodejs, karma, jasmine, angular-mock.js</li>
        <li>Karma Config file</li>
        <li>Testing Services - Writing the AuthService test</li>
        <li>Running tests with Karma/Jasmine/Chrome</li>
        <li>Testing controllers - Writing the LandingController Test</li>
        <li>Debugging Karma tests</li>
    </ul>
</li>
<li>Conclusion
    <ul>
        <li>AngularJS Best Practices</li>
        <li>Useful Angular Third-party plugins</li>
        <li>Overview of ng-grid</li>
        <li>Helpful Resources</li>
    </ul>
</li>

</ul>
</div>
<div class="col-xs-6">
    <div class="row">
        <div class="col-xs-12">
            <h3>These are the accompanying slides:</h3>
        </div>
    </div>
    <ul>
        <li>
            <a href="https://docs.google.com/presentation/d/1zLr3OHSiSQzFyDrcT4pX0UGgfrQmMP6U5ZJewKpD29I/pub?start=false&loop=false&delayms=3000"
               target="_blank">Slide 1 - Introduction Part I</a></li>
        <li>
            <a href="https://docs.google.com/presentation/d/1W-2CNwD8AkMYHNHFJgeIGoiLmkjVNgGCMjN0JDEPaB8/pub?start=false&loop=false&delayms=3000"
               target="_blank">Slide 2 - Introduction Part II</a></li>
        <li>
            <a href="https://docs.google.com/presentation/d/1fUKODeZSxvmfJOOEQDNFGDHsDsF_ABgRWE7dDH59ysY/pub?start=false&loop=false&delayms=3000"
               target="_blank">Slide 3 - Hello, AngularJS</a></li>
        <li>
            <a href="https://docs.google.com/presentation/d/1FNqLwUu4mUiw9Npj_9qrJ8L05lxc1OzZCDvBOWCogRU/pub?start=false&loop=false&delayms=3000"
               target="_blank">Slide 4 - Concepts Part I</a></li>
        <li>
            <a href="https://docs.google.com/presentation/d/1njjzsCdZsNw6AMXSsgji87TQsDPtBaoxRnS_lXJ_vN8/pub?start=false&loop=false&delayms=3000"
               target="_blank">Slide 5 - Concepts Part II</a></li>
        <li>
            <a href="https://docs.google.com/presentation/d/1xNdwFbVgWxEb-CsJcblG-YLLEFOLsbYVw4jqxbHRo1o/pub?start=false&loop=false&delayms=3000"
               target="_blank">Slide 6 - Directives</a></li>
        <li>
            <a href="https://docs.google.com/presentation/d/1wvZb_OM7TUsk80ODVNSSAKd2YFQS44zyAKusv3UITQU/pub?start=false&loop=false&delayms=3000"
               target="_blank">Slide 7 - Scope</a></li>
        <li>
            <a href="https://docs.google.com/presentation/d/12ql9Tn2N-1DL6AyFtKFhIBnqff_39R1NfeX-11XmJ9s/pub?start=false&loop=false&delayms=3000"
               target="_blank">Slide 8 - Project Description</a></li>
        <li>
            <a href="https://docs.google.com/presentation/d/1g_8ZZSJfry_2XsXpN-6hwWZCcCMa-2uTG2Ed2O8z6HQ/pub?start=false&loop=false&delayms=3000"
               target="_blank">Slide 9 - Testing with Karma, Jasmine</a></li>
        <li>
            <a href="https://docs.google.com/presentation/d/17zCr2qtapCnpksfc0mgmI_cCAEdj7HEiLapleaBReK0/pub?start=false&loop=false&delayms=3000"
               target="_blank">Slide 10 - Conclusion</a></li>
    </ul>

    </br>
    All code is available on <a href="https://www.github.com/sidazad/AngularJS" target="_blank">GitHub</a>
</div>
</div>